{% extends 'base.html.twig' %}

{% block body %}
    <h1>Staff4item</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ staff4Item.id }}</td>
            </tr>
            <tr>
                <th>Allocatedhrs</th>
                <td>{{ staff4Item.allocatedHrs }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('allocations_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('allocations_edit', { 'id': staff4Item.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
