{% extends 'base.html.twig' %}

{% block body %}
    <h1>Item creation</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.itemName) }}
        {{ form_row(form.category) }}
        {{ form_row(form.totalHrs) }}
        {{ form_widget(form._token) }}
    <ul class="assignments" data-prototype="{{ form_widget(form.assignments.vars.prototype)|e('html_attr') }}">
    </ul>
    <input type="submit" value="Create" />
    {{ form_end(form, {'render_rest': false}) }}
    <ul>
        <li>
            <a href="{{ path('item_index') }}">Back to the list</a>
        </li>
    </ul>



{% block script %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var $collectionHolder;

        // setup an "add a tag" link
        var $addAssignmentLink = $('<a href="#" class="add_assignment_link">Add an assignment</a>');
        var $newLinkLi = $('<li></li>').append($addAssignmentLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.assignments');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addAssignmentLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addAssignmentForm($collectionHolder, $newLinkLi);
            });
        });

        function addAssignmentForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);
            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock %}
{% endblock %}
